https://gist.github.com/superkojiman/10927867
getting artist genre code, if needed

In [1]:
import numpy as np
import pandas as pd

In [2]:
movie_meta = pd.read_csv('models/MovieSummaries/movie.metadata.tsv',header=None,delimiter='\t',encoding='utf-8',names=['WikiID', 'FreebaseID', 'Title', 'ReleaseDate', 'Revenue', 'Runtime', 'Languages', 'Countries', 'Genres'])
movie_meta = movie_meta[['Title','WikiID','Genres']]
movie_meta.head()

,Title,WikiID,Genres
0,Ghosts of Mars,975900,"{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,Getting Away with Murder: The JonBenét Ramsey ...,3196793,"{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,Brun bitter,28463795,"{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,White Of The Eye,9363483,"{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,A Woman in Flames,261236,"{""/m/07s9rl0"": ""Drama""}"

In [3]:
plots = pd.read_csv('models/MovieSummaries/plot_summaries.txt',sep='\t',names=['WikiID', 'Summary'])
plots.head()

     WikiID                                            Summary
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...